@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    height: auto;
}

.container {
    display: block;
    position: relative;
    top: 73vh;
    width: auto;
    opacity: 0;
}

#canvas {
    display: block;
    margin: 50px auto;
    width: 9vh;
    height: 9vh;
}


.label {
    height: 4.5vh;
    width: auto;
    display: block;
    position: absolute;
    left: 630;
    right: 0;
    margin: 0 auto;
    text-align: left;
    top: 3.0vh;
    font-weight: bold;
    font-size: 2vh;
    border-radius: 15vh;
   
}